<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarthometest"> <!-- 본인 패키지로 교체 -->

    <!-- ✅ 추가: Android 13 이상 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--        android:name="${applicationName}"-->
    <!--        android:label="smarthometest"-->
    <application

        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true">

        <!-- 카카오 SDK 앱키 설정 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- 메인 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/NormalTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity> <!-- 🔴 이 태그가 없으면 XML 에러 발생 -->

        <!-- ✅ 필수 액티비티 추가! -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="${kakao_app_key}"
                    android:host="oauth"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding 메타데이터 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>



    <!--<manifest xmlns:android="http://schemas.android.com/apk/res/android">-->
    <!--    <application-->
    <!--        android:label="smarthometest"-->
    <!--        android:name="${applicationName}"-->
    <!--        android:icon="@mipmap/ic_launcher">-->

    <!--        &lt;!&ndash; 카카오 SDK 설정 &ndash;&gt;-->
    <!--        <meta-data-->
    <!--            android:name="com.kakao.sdk.AppKey"-->
    <!--            android:value="@string/kakao_app_key"/>  &lt;!&ndash; res/values/strings.xml에 정의 &ndash;&gt;-->

    <!--        <activity-->
    <!--            android:name=".MainActivity"-->
    <!--            android:exported="true"-->
    <!--            android:launchMode="singleTop"-->
    <!--            android:taskAffinity=""-->
    <!--            android:theme="@style/LaunchTheme"-->
    <!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
    <!--            android:hardwareAccelerated="true"-->
    <!--            android:windowSoftInputMode="adjustResize">-->
    <!--            <meta-data-->
    <!--                android:name="io.flutter.embedding.android.NormalTheme"-->
    <!--                android:resource="@style/NormalTheme"-->
    <!--                />-->
    <!--            <intent-filter>-->
    <!--                <action android:name="android.intent.action.MAIN"/>-->
    <!--                <category android:name="android.intent.category.LAUNCHER"/>-->
    <!--            </intent-filter>-->
    <!--        </activity>-->

    <!--        &lt;!&ndash; 카카오 로그인 처리 &ndash;&gt;-->
    <!--        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"-->
    <!--            android:exported="true">-->
    <!--            <intent-filter>-->
    <!--                <action android:name="android.intent.action.VIEW"/>-->
    <!--                <category android:name="android.intent.category.DEFAULT"/>-->
    <!--                <category android:name="android.intent.category.BROWSABLE"/>-->
    <!--                <data android:scheme="kakaoYOUR_NATIVE_APP_KEY"/>  &lt;!&ndash; YOUR_NATIVE_APP_KEY를 네이티브 앱 키로 변경 &ndash;&gt;-->
    <!--            </intent-filter>-->
    <!--        </activity>-->

    <!--        &lt;!&ndash; Don't delete the meta-data below.-->
    <!--             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java &ndash;&gt;-->
    <!--        <meta-data-->
    <!--            android:name="flutterEmbedding"-->
    <!--            android:value="2" />-->
    <!--    </application>-->

    <!--    &lt;!&ndash; Required to query activities that can process text &ndash;&gt;-->
    <!--    <queries>-->
    <!--        <intent>-->
    <!--            <action android:name="android.intent.action.PROCESS_TEXT"/>-->
    <!--            <data android:mimeType="text/plain"/>-->
    <!--        </intent>-->
    <!--    </queries>-->
    <!--</manifest>-->